@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer base {
	h2 {
		@apply md:text-7xl sm:text-6xl font-bold;
	}
	li {
		@apply mx-4;
	}
	img {
		@apply max-w-[480px] sm:mx-auto;
	}
	input {
		@apply rounded-md p-3 text-lg font-semibold bg-white placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-primaryGreen;
	}
}

@layer components {
	.bg-primary-green {
		@apply bg-primaryGreen text-white;
	}
	.btn-base-small {
		@apply rounded-md font-semibold;
	}

	.btn-white-base {
		@apply px-10 py-3 mx-auto rounded-md font-bold;
	}

	.btn-transparent {
		@apply btn-white-base outline outline-2;
	}

	.btn-white {
		@apply btn-white-base bg-white;
	}
	.btn-green {
		@apply bg-primary-green btn-base-small sm:text-xl sm:px-6 sm:py-3;
	}

	.h3-black {
		@apply text-6xl font-bold sm:text-center;
	}

	.h3-white {
		@apply text-6xl text-white font-bold sm:text-center;
	}
	.p-base {
		@apply sm:my-3 sm:text-sm sm:text-center md:my-6 md:text-lg;
	}

	.p-black {
		@apply p-base;
	}
	.p-white {
		@apply p-base text-white;
	}

	.container-base {
		@apply md:px-20 sm:px-10;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
